extends layout

block content
    div#maincontent
      #addlog
        form(method = 'POST')
          p
          textarea(name='content', rows="10")
          br
          input(type="submit", id='submit', value = 'submit')
      script(src='/javascripts/index.js')



